/*todo - ButtonsMarkup*/
.buttonStyle {
  text-decoration: none;
  border: 1px solid rgb(146, 148, 248);
  position: relative;
  overflow: hidden;
  font-size: 1.5rem;
  padding: 1rem 3rem;
  color: #f4f4f4;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  min-width: 270px;
}

.buttonStyle.random {
  background-color: #f4f4f4;
}

.buttonStyle:hover {
  box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.4);
}

.buttonStyle:before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(146, 148, 248, 0.4),
    transparent
  );
  transition: all 650ms;
}

.buttonStyle:hover:before {
  left: 100%;
}

.hide-btn {
  width: 200px;
  height: 33px;
  background-color: #010114;
  position: absolute;
  top: 14px;
  left: 39px;
}

/*todo end*/

/*todo - App*/

.modal-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 999;
  opacity: 1;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  pointer-events: auto;
  opacity: 1;
  visibility: visible;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  margin-bottom: 60px;
}

.shove-buttons {
  cursor: pointer;
  text-decoration: none;
  border: 1px solid rgb(146, 148, 248);
  position: relative;
  overflow: hidden;
  font-size: 0.6rem;
  padding: 0.5rem 1rem;
  color: #f4f4f4;
  text-transform: uppercase;
  background-color: transparent;
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0.6;
}

.randomBtn {
  cursor: pointer;
  text-decoration: none;
  border: 1px solid rgb(146, 148, 248);
  position: relative;
  overflow: hidden;
  font-size: 0.6rem;
  padding: 0.5rem 1rem;
  color: #f4f4f4;
  text-transform: uppercase;
  background-color: transparent;
  position: fixed;
  bottom: 20px;
  left: 20px;
  opacity: 0.6;
}


.restartBtn{
  cursor: pointer;
  text-decoration: none;
  border: 1px solid rgb(146, 148, 248);
  position: relative;
  overflow: hidden;
  font-size: 0.6rem;
  padding: 0.5rem 1rem;
  color: #f4f4f4;
  text-transform: uppercase;
  background-color: transparent;
  position: fixed;
  bottom: 20px;
  left: 33%;
  opacity: 0.6;
}
/*todo end*/

/*todo PokemonMarkup */
.pokemonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 350px;
  border-radius: 7px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border: 0.3px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  filter: contrast(150%);
  filter: drop-shadow(150%);
}

.pokemonImgContainer {
  border-radius: 50%;
  overflow: hidden;
  padding: 10px;
  background-image: url(../../img/bg-pokemon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.closeModal2 {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: gold;
  outline: none;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  border-radius: 50%;
  padding: 5px;
  width: 27px;
}

.buttonChangeImg {
  background: linear-gradient(90deg, #010114, #342ebc, #010114);
  color: white;
  border-radius: 50%;
  padding: 8px;
  width: 50px;
  font-size: 16px;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.buttonsContainer {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

h1 {
  margin: 0;
}

.description {
  font-style: italic;
  font-weight: 600;
  color: black;
  margin: 10px;
}

.damage {
  font-size: 18px;
  font-weight: 600;
  text-shadow: 1px 1px 2px black, 0 0 0.2em gold, 0 0 0.2em gold;
}

.pokemonInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding-left: 100px;
}

@media screen and (max-width: 340px) {
  .pokemonContainer {
    max-width: 320px;
    padding: 5px;
  }

  .pokemonImgContainer {
    padding: 5px;
  }

  #root {
    padding: 10px;
  }
}

.tryNum{
  position: fixed;
 top: -40px;
  left: 50%;
  transform: translate(-50%);
  font-size: 36px;
  font-weight: 800;
  color: white;
}

.text-modal{
animation: appear 5s;
position: absolute;
top: 40%;
left: 50%;
transform: translate(-50%, -50%);
font-size: 12px;
font-weight: 100;
color: white;
max-width: 700px;
text-align: center;
text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
}



@keyframes appear {
  0% {
    opacity: 0;
    font-size: 1px;
    font-weight: 100;
  }

  80% {
    opacity: 1;
    font-size: 70px;
    font-weight: 900;
  }
  100% {
    opacity: 0;
    font-size: 1px;
    font-weight: 100;
  }

}


.text-modal-next{
  white-space: nowrap;
  animation: appearNext 3s;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  font-weight: 100;
  color: gold;
  max-width: 700px;
  text-align: center;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
  }
  
  
  
  @keyframes appearNext {
    0% {
      opacity: 0;
      font-size: 1px;
      font-weight: 100;
    }
  
    80% {
      opacity: 1;
      font-size: 70px;
      font-weight: 900;
    }
    100% {
      opacity: 0;
      font-size: 1px;
      font-weight: 100;
    }
  
  }

  .text-modal-victory{
    white-space: nowrap;
    animation: appearVictory 3.1s;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1px;
    font-weight: 1;
    opacity: 0;
    color: gold;
    max-width: 700px;
    text-align: center;
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
  }

  @keyframes appearVictory {
    0% {
      opacity: 0;
      font-size: 1px;
      font-weight: 100;
    }
  
    100% {
      opacity: 1;
      font-size: 55px;
      font-weight: 900;
    }
  }

  @media screen and (max-width:450px){
    @keyframes appear {
      0% {
        opacity: 0;
        font-size: 1px;
        font-weight: 100;
      }
    
      80% {
        opacity: 1;
        font-size: 55px;
        font-weight: 900;
      }
      100% {
        opacity: 0;
        font-size: 1px;
        font-weight: 100;
      }
    
    }
    
    @keyframes appearNext {
      0% {
        opacity: 0;
        font-size: 1px;
        font-weight: 100;
      }
    
      80% {
        opacity: 1;
        font-size: 50px;
        font-weight: 900;
      }
      100% {
        opacity: 0;
        font-size: 1px;
        font-weight: 100;
      }
    
    }
  }